#titulo {
    align-content: center;
    margin: auto;
    text-align: center;
}
#tabla-excepciones {
    font-size: 15px;
    width: 30%;
    justify-content: center;
    margin: auto;
}

#tabla-nueva{
    margin: auto;
    border-collapse: separate;
    border-spacing: 0px;
}

#tabla-excepciones td{
    border-width: 0px;
    text-align: center;
    padding: 0%;
}


#tabla-filas {
    margin: auto;
}