<!DOCTYPE html>
<html>
<head>
    <title>Formulario</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css' ) }}">
    <script src="{{ url_for('static', filename='leer.js' ) }}"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.6.3/js/bootstrap-select.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>

</head>
<body>
    <ul id="menu">
        <li><a href="#home">Automatizar Titulos</a></li>
        <li><a href="/Crear">Crear una Nueva Plantilla</a></li>
        <li class="dropdown">
          <a href="javascript:void(0)" class="dropbtn">Dropdown</a>
          <div class="dropdown-menu">
            <a href="#">Link 1</a>
            <a href="#">Link 2</a>
            <a href="#">Link 3</a>
          </div>
        </li>
      </ul>
      
    <form method="post" id="reglas">
        <div id="titulo">
        <label for="plantilla">Seleccionar plantilla:</label>
        <select id="plantillas" name="plantilla" style="width: 30%">
            <option value="ninguna">ninguna</option>
        </select>
        
     
        <br>
        <button id="add_row" disabled type="button" onclick="agregarFila()">Añadir</button>
        <br><br>
    </div>
        {% if plantilla|length>1 %}
        <table id="tabla-filas">
            
            <tr>
                <td><input type="text" class="form-control" name="input1[]" id="inpatt"></td>
                <td>
                <select name="input2[]" id="atributos"><option value="Palabrafija">Palabrafija</option></select>
            </td>
            <td><button type="button" class="btn btn-danger" onclick="eliminarFila(this)">Borrar</button</td>
            </tr>
        
        </table>
        
        <br><br>
        <div id="titulo">
        <button type="button" class="btn btn-info" onclick="agregarExcepcion()">Añadir excepción</button>
        <tr><input type="button" class="btn btn-warning" value="Y" onclick="and()"></tr>
        <br><br>
    </div>
        <table id="tabla-excepciones">
            
            
            <br>
        </table>
    
        
            <!-- <table id="tabla-omitir">
                
                
                <td><select id="Omitir" name="Omitir" >
            
                    
                    {% for row in atributos %}
                    <option value={{row}}>{{row}}</option>
                    {% endfor %}
                    
                </select></td>
                <tr>
                <br>
                <td><label for="renombrar">Renombrar los campos                    Cambiar</label></td>
            <td><select id="Omitir1" name="Omitir">
                </select></td>
                <!-- aqui voy -->
            <!-- <td><label for="por">Por</label></td>
                <td><input type="text" name="cambiar1" list="cityname">
                    <datalist id="cityname" name="drpinput">
                        
                    </datalist></td>
                </tr>
                    <tr><td><input type="button" value="Entonces" onclick="otro()"</td></tr>
                    
            
        </table> --> 
        <br><br>
       
        
    </tr>
</table>
        <br>
        <br>
        <div id="titulo">
        <button type="submit" class="btn btn-success">Crear regla</button>
        <button type="reset" class="btn btn-light">Limpiar</button>
    
        {% endif %}
    </form>
    <br><br>
    <label>Datos ingresados:</label>
    <br>
    {% if plantilla %}
    <p>{{plantilla}}</p>
    {% endif %}
</div>
    {% if res %}
    <div id="titulo" ><h1>Regla de la plantilla {{plantilla}}</h1><h1>{{ at1 }}</h1><h2>{{at2}}</h2><br><h2>{{excepcioneshtml}}</h2></div>
    {% endif %}


<script src="{{ url_for('static', filename='multiselect-dropdown.js' ) }}" ></script>
<script>




function eliminarFila(boton) {
    var fila = boton.parentNode.parentNode;
    fila.parentNode.removeChild(fila);
}


</script>

</body>
